{% load static %}
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

</head>
<body>
{% block mainmenu %}
{% for m in menu %}
<ul>
    <li><a href="{{m.url_name}}">{{m.title}}</a></li>
</ul>
{% endfor %}
<hr>
<ul>
{% if cat_selected == 0 %}
	<h4>Главная страница</h4>
{% else %}
	<h4><a href="{% url 'home' %}">Главная страница</a></h4>
{% endif %}
</ul>
<ul>
	{% for c in cats %}
		{% if c.pk == cat_selected %}
			<li>{{c.name}}</li>
		{% else %}
			<li><a href="{{c.get_absolute_url}}">{{c.name}}</a></li>
		{% endif %}
	{% endfor %}
</ul>
<hr>
{% endblock mainmenu %}
{% block content %}
{% endblock %}

</body>
</html>